#black {
    background-color: black;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#purple {
    background-color: purple;
}
#brown {
    background-color: brown;
}
#gray {
    background-color: gray;
}
#light-gray {
    background-color: lightgray;
}
#dark-gray {
    background-color: darkgray;
}
#dark-red {
    background-color: darkred;
}
#light-blue {
    background-color: lightblue;
}
#dark-blue {
    background-color: darkblue;
}
#pink {
    background-color: pink;
}
#light-red {
    background-color: rgb(255, 75, 75);
}
#dark-orange {
    background-color: rgb(196, 109, 2);
}
#aqua {
    background-color: aqua;
}
#light-green {
    background-color: lightgreen;
}
#dark-green {
    background-color: darkgreen;
}
#burlywood {
    background-color: burlywood;
}
#cyan {
    background-color: cyan;
}
#light-orange {
    background-color: rgb(255, 191, 73);
}
#dark-cyan {
    background-color: darkcyan;
}
#beige {
    background-color: beige;
}